.closeButton {
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 25px;
  margin-top: 15px;
}

.container {
  padding: 15px;
  max-width: 500px;
  min-width: 386px;
  text-align: left;
}

.noMargin {
  margin: 0 !important;
  position: absolute !important;
  top: 0;
}
