@import '~semantic-ui-css/semantic.css';

@font-face {
  font-family: "Zelda";
  src: url("/resources/fonts/Zelda.otf");
}

.fire {
  g {
    transition: fill 0.5s ease-out;
  }
}

.fire:hover {
  g {
    fill: #ff3a00;
  }
}

.transition-position {
  transition: left 0.2s ease-out;
}

.no-select {
  user-select: none;
}

.padded {
  padding: 10px;
}

.container {
  position: relative;
}

.icon {
  fill: black;
  fill-opacity: 0.7;
  cursor: pointer;
}

@keyframes blink {
  50% { border-color: #0f0f10; }
}
.blinks { /*or other element you want*/
  animation-name: blink ;
  animation-duration: .5s ;
  animation-timing-function: step-end ;
  animation-iteration-count: infinite ;
  animation-direction: alternate ;
}
.hasCursor {
  border-right: 1px solid transparent;
}
.hasCursorStart {
  border-left: 1px solid transparent;
}

#fire-overlay{
  position:fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background-image: url(http://78.media.tumblr.com/9951ca2e7e884a48ca5b5269f5514cd6/tumblr_nwjrkxWOcd1tslewgo1_500.gif);
  background-repeat:no-repeat;
  background-size:100%;
  background-position:left bottom;
  background-color: black;
  filter:blur(2px);
  z-index: 100;
  transition: opacity ease-out 1000ms;
}

