@import '~semantic-ui-css/semantic.css';

path.test {
  fill: blue;
}

.border {
  border: red 1px solid;
}

.padded {
  padding: 10px;
}

.container {
  position: relative;
}

.icon {
  fill: black;
  fill-opacity: 0.7;
  cursor: pointer;
}
